.p{
    text-align: center;
    box-shadow: 5px;
}
.angka{
    text-align: center;
    border-radius: 20px;
    border: 9px;
    background-color: none;
    width: 1190px;

}
#button{
    text-align: center;
    color: black;
}